/*Body*/
body {
	color : black;
	font-family: "Times New Roman";
	line-height:0.9;!important
	margin: 0px;
    padding: 0px;
}
/*Body*/

/*Header*/
header p.univname {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

header p.facultyname {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 4px;
	margin-bottom: 5px;
	margin-top: 0px;
}

header p.address {
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
}

div.prodi {
	width: 575px;
	height: auto;
	margin-left: 64px;
	margin-bottom: -10px;
	font-size: 15px;
}

div.prodiLeft {
	width: 287.5px;
	padding-top: -10px;
}

div.prodiLeft p {
	padding-top: -7px;
}

div.prodiRight {
	width: 287.5px;
	margin-left: 287.5px;
	position: absolute;
	padding-top: -102px;

}

div.prodiRight p {
	padding-top: -7px;
	padding-left: 40px;

}

hr.top {
	margin-top: -8px;
	margin-bottom: 0px;
	height: 3px;
	background-color: black;
}

hr.bottom {
	margin-top: 2px;
	height: 1px;
	background-color: black;
}
/*Header*/

/*content*/

/*main*/

/*Letter number*/
div.title {
	width: 100%;
	height: auto;
	margin-top: 2px;
}

div.title p {
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 0px;
}

div.letternumber p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
	letter-spacing: 1px;
}
/*Letter number*/

/*Table main*/
div.tablemain {
	width: 100%;
	height: auto;
	margin-top: 10px;
}
/*Table main*/

/*givetask*/
div.givetaskcontainer {
	margin-bottom: 0px;
	border: 1px solid black;
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

div.givetaskcontainer p.title {
	font-size: 14px;
	margin-bottom: 0px;
}

div.givetaskcontainer table.content {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 30px;
}

div.givetaskcontainer table.onecontent {
	font-size: 14px;
	margin-top: 5px;
	margin-left: -1px;
}
/*givetask*/

/*closing*/
div.closing {
	font-size: 14px;
}
/*closing*/

/*Kalab Sign*/
div.kalabSign {
	width: 325px;
	height: 200px;
	margin: 5px 0px -10px 375px;
}

p.when {
	text-align: center;
	font-size: 14px;
}

p.kalab {
	text-align: center;
	font-size: 14px;
}


p.who {
	text-align: center;
	font-size: 14px;
	margin-top: 85px;
	margin-bottom: 0px;
}

hr.kalabSign {
	width: 65%;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.whonpp {
	text-align: center;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
/*Kalab Sign*/

/*Tembusan*/
div.tembusan {
	font-size: 14px;
	margin-top: -10px;
}

div.tembusan p.title {
	font-weight: bold;
	text-decoration: underline;
}
/*Tembusan*/

/*main*/

/*content*/